<div id="sidebar-main" [class.expanded-sidebar]="expandedSidebar">
  <p-sidebar
    #sidebarRef
    [(visible)]="sidebarVisible"
    [position]="isMobile ? 'top' : 'left'"
    [dismissible]="isMobile"
    [closeOnEscape]="isMobile"
    [modal]="isMobile"
    [showCloseIcon]="isMobile"
    [blockScroll]="isMobile"
    [style]="{ width: isMobile ? '100%' : expandedSidebar ? '304px' : '96px' }"
    styleClass="bg-[#10141A] shadow-[16px_0px_30px_0px_#00000033] md:shadow-[0px_16px_30px_0px_#0000004D]"
    (onHide)="onMenuHide()"
  >
    <ng-template pTemplate="header">
      <p-image
        [src]="
          !isMobile && expandedSidebar
            ? 'images/logo/desktop-en.png'
            : 'images/logo/mobile-en.png'
        "
        alt="Image"
        width="64"
        height="60"
        class="md:mx-auto"
        [imageClass]="
          !isMobile && expandedSidebar ? 'w-[153px] h-[72px]' : 'w-16 h-[60px]'
        "
      />
    </ng-template>

    <p-button
      (onClick)="toggleSidebarWidth()"
      styleClass="hidden md:block w-full bg-[#1F1D2B] shadow-none mb-5 py-2.5 rounded-none"
    >
      <app-bars class="flex justify-center"></app-bars>
    </p-button>
    <app-menu-items class="flex-1" (onCloseMobileMenu)="onCloseMobileMenuHandler()"></app-menu-items>
  </p-sidebar>
</div>
