<div class="bg-[#1F1D2B] rounded-[15px] py-2.5 px-[15px] min-h-[170px]">
    <div class="pb-5">
        <p-chart type="doughnut" [plugins]="plugins" [data]="data" [options]="options" width="70px" height="70px" />
    </div>
    <p class="text-sm text-[#CECBDE] text-center pb-3">
        <span class="poppins-bold">{{input.value}}/</span>
        <span class="text-xs">{{input.outOf}}</span>
    </p>
    <p class="poppins-medium text-[#958F9E] text-xs leading-[14px] text-center whitespace-pre-line">{{input.label}}</p>
</div>