<div class="lg-exclude-ipad:hidden fixed w-full z-20">
  <p-menubar
    styleClass="bg-[#10141A] py-[19px] px-[15px] rounded-none shadow-[16px_0px_30px_0px_#00000033] gap-2 lg-exclude-ipad:gap-0"
  >
    <ng-template pTemplate="start">
      <div class="flex items-center gap-[30px]">
        <a routerLink="/">
          <p-image
            src="images/logo/mobile-en.webp"
            alt="Logo"
            width="64"
            height="60"
            class="w-16 h-[60px]"
          />
        </a>
        <div class="flex items-center gap-[5px] flex-1">
          <p-chip
            *ngIf="metaData?.icon"
            styleClass="page-icon w-12 h-12 rounded-[15px] bg-[#00C5D6] text-[#252836] justify-center"
          >
            <ng-container
              *ngComponentOutlet="mapper?.[metaData?.icon || '']"
            ></ng-container>
          </p-chip>
          <span
            class="text-[#00C5D6] Poppins font-bold text-xs poppins-bold line-clamp-2 break-words"
            >{{ metaData["label"] || "" }}</span
          >
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="end">
      <div class="flex items-center gap-[30px]">
        <p-image
          [src]="'images/users/john-doe.webp'"
          alt="User image"
          width="40"
          height="40"
          class="user-icon-mobile w-10 h-10 rounded-[15px] border-2 border-solid border-[#464353]"
        />
        <p-button
          (onClick)="openMobileMenu()"
          ariaLabel="Toggle Menu"
          icon="pi pi-bars"
          styleClass="text-[#9E9BAD] text-[19px] w-7"
        ></p-button>
      </div>
    </ng-template>
  </p-menubar>
</div>
