<p-sidebar
  #sidebarRef
  [(visible)]="sidebarVisible"
  [position]="isMobile ? 'top' : 'left'"
  [dismissible]="isMobile"
  [closeOnEscape]="isMobile"
  [modal]="isMobile"
  [showCloseIcon]="isMobile"
  [blockScroll]="isMobile"
  [style]="{ width: isMobile ? '100%' : fullView ? '304px' : '96px' }"
>
  <ng-template pTemplate="header">
    <span class="font-semibold text-xl">Logo inside menu</span>
  </ng-template>
  <button type="button" id="only-desktop" (click)="toggleDesktopMenu()">
    click me to resize only in desktop
  </button>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.
  </p>
</p-sidebar>
<div>
  <div>
    <div id="only-mob">
      <div>
        <p-menubar>
          <ng-template pTemplate="start">
            <div class="flex items-center gap-4">
              <span>logo</span>

              <div class="flex items-center gap-2">
                <span>icon</span>
                <span>page_name</span>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="end">
            <div class="flex items-center">
              <p-avatar
                image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                shape="circle"
              />
              <p-button
                (onClick)="sidebarVisible = true"
                icon="pi pi-bars"
              ></p-button>
            </div>
          </ng-template>
        </p-menubar>
      </div>
    </div>
  </div>
  <div id="content" [class.full-view]="fullView">
    right side content in desktop
    <br />
    bottom content in mobile
  </div>
</div>
