

::ng-deep p-button{
    & .p-button-label{
        @apply hidden lg-exclude-ipad:inline-block;
        // .poppins-regular
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;        
    }
    & .p-button-icon{
        @apply mr-0 lg-exclude-ipad:mr-3;
    }
}
