<div class="px-[30px] py-5">
    <div class="flex flex-wrap items-center gap-[17.5px]">
        @for (item of doughnutCharts; track $index) {
            <div>
                <app-doughnut-chart [input]="item"></app-doughnut-chart>
            </div>
        }
        @for (item of counters; track $index) {
            <div>
                <app-counter [input]="item"></app-counter>
            </div>
        }        
    </div>
    <div class="flex items-center gap-[15px] pt-[30px] pb-5">
        <p-inputGroup>
            <p-inputGroupAddon class="bg-[#1F1D2B] rounded-l-[10px] p-0">
                <p-button styleClass="p-[10.5px] ml-[5px] pr-2.5 shadow-none">
                    <i class="pi pi-search text-[19px] text-[#CECBDE]"></i>
                </p-button>
            </p-inputGroupAddon>
            <input pInputText placeholder="Search" class="bg-[#1F1D2B] text-sm placeholder:text-[#706D7E] text-[#CECBDE] poppins-regular outline-0 rounded-r-[10px] w-full" />
        </p-inputGroup>

        <p-button icon="pi pi-download" label="Export" styleClass="text-white text-sm text-[#CECBDE] [box-shadow:0px_1px_1px_0px_#02001799] bg-[#252836] p-2.5 rounded-[10px]" />
        <p-button icon="pi pi-upload" label="Import" styleClass="text-white text-sm text-[#CECBDE] [box-shadow:0px_1px_1px_0px_#02001799] bg-[#252836] p-2.5 rounded-[10px]" />
    </div>

    <div class="flex items-center gap-5 px-[15px] pb-5">
        <app-user-time></app-user-time>
        <div>
            <p class="text-[#CECBDE] poppins-bold text-sm">Afternoon Shift</p>
            <p class="text-[#CECBDE] poppins-regular text-sm">12:00 PM - 08:00 PM</p>
        </div>
    </div>

    <div class="pb-[60px]">
        <app-table></app-table>
    </div>

    <hr class="mb-[60px] border-[#464353] border-dashed" />


    <div class="flex items-center gap-5 px-[15px] pb-5">
        <app-user-time></app-user-time>
        <div>
            <p class="text-[#CECBDE] poppins-bold text-sm">Afternoon Shift</p>
            <p class="text-[#CECBDE] poppins-regular text-sm">12:00 PM - 08:00 PM</p>
        </div>
    </div>    
    <div class="pb-[60px]">
        <app-table></app-table>
    </div>    

</div>
